
.Header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0;
    top: 0;
    z-index: 100;
    margin: auto;
    background: #412e9e;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;
}

.Header img {
    align-items: center;
    margin: 0 116px;
}

.HeaderGroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Header .HeaderGroup a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    margin: 0 40px;
}

.Header .HeaderGroup .Hamburger {
    display: none;
}



@media (max-width: 768px) {


    .Header .HeaderGroup {
        grid-template-columns: 20% 1fr;
        align-items: center;
    }

    .HeaderGroup {
        display: block;
        justify-content: flex-end;
        align-items: center;
    }

  
    .Header .HeaderGroup a {
        display: none;
    }

    .Header .HeaderGroup .Hamburger {
        justify-self: left;
        color: #fffff;
        font-size: 24px;
    }
    
}


