@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

html,
body {
  font-family: 'Lato', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}

.HeroGroup {
  width: 100%;
  min-height: 100vh;
}

.HeroGroup .SectionOne {
  margin-top: 120px;
  display: -webkit-inline-box;
  margin-bottom: 80px;
}

.HeroGroup .SectionOne .ContainerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 248px);
}

.HeroGroup .SectionOne .ContainerLeft .buttonGroup {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.HeroGroup .SectionOne .ContainerLeft .buttonGroup .primaryButton {
  width: 160px;
  height: 56px;
  font-size: 16px;
  font-weight: bold;
  background-color: #412e9e;
  color: #ffffff;
  border-radius: 6px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeroGroup .SectionOne .ContainerLeft .buttonGroup .primaryButton:hover {
  background: #5540bf;
  transform: translateY(-1px);
}

.HeroGroup .SectionOne .ContainerLeft .buttonGroup .primaryButton:active {
  background: #705cd6;
}

.HeroGroup .SectionOne .ContainerLeft .buttonGroup .secondaryButton {
  width: 160px;
  height: 56px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  color: #412e9e;
  border-width: 2px;
  border-color: #412e9e;
  border-radius: 6px;
  margin-left: 24px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeroGroup .SectionOne .ContainerLeft .buttonGroup .secondaryButton:hover {
  background: rgba(65, 46, 158, 0.4);
  transform: translateY(-1px);
}

.HeroGroup .SectionOne .ContainerLeft .buttonGroup .secondaryButton:active {
  background: rgba(65, 46, 158, 0.2);
}

.HeroGroup .SectionOne .ContainerLeft h1 {
  font-size: 68px;
  line-height: 84px;
  color: #3e3e3e;
  opacity: 0;
  animation: VinylAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.HeroGroup .SectionOne .ContainerLeft p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  animation: VinylAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}

.HeroGroup .SectionOne .ContainerRight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.HeroGroup .SectionOne .ContainerRight img {
  max-width: 100%;
}

.HeroGroup .SectionTwo {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #412e9e;
}

.HeroGroup .SectionTwo h1 {
  text-align: center;
  color: #fff;
  font-size: 38px;
  line-height: 48px;
  margin-bottom: 80px;
}

.HeroGroup .SectionTwo .SideContent {
  margin: 0 auto;
  max-width: 326px;
}

.HeroGroup .SectionTwo .SideLeft h3 {
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
}

.HeroGroup .SectionTwo .SideLeft p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.HeroGroup .SectionTwo .SideRight h3 {
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
}

.HeroGroup .SectionTwo .SideRight p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.HeroGroup .SectionThree {
  min-height: 50vh;
  background-color: #f6f5fe;
  padding-top: 40px;
  padding-bottom: 80px;
}

.HeroGroup .SectionThree h5 {
  color: #412e9e;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.HeroGroup .SectionThree h3 {
  color: #3e3e3e;
  font-size: 38px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 40px;
}

.HeroGroup .SectionThree img {
  max-width: 100%;
  display: block;
}

.HeroGroup .SectionThree .Feature {
  width: auto;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.HeroGroup .SectionThree .TextBox {
  max-width: 800px;
}

.HeroGroup .SectionThree .TextBox p {
  color: #3e3e3e;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.HeroGroup .SectionFour {
  margin-bottom: 80px;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 80px;
}

.HeroGroup .SectionFour h5 {
  color: #412e9e;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: center;
}

.HeroGroup .SectionFour h3 {
  color: #3e3e3e;
  font-size: 38px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
}

.HeroGroup .SectionFour .CenterContainer {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.HeroGroup .SectionFour .CenterContainer img {
  margin-right: 64px;
}

.HeroGroup .SectionFour .CenterContainer p {
  color: #3e3e3e;
  font-size: 16px;
  line-height: 24px;
  margin-top: 48px;
  margin-bottom: 0;
}

.Footer {
  position: relative;
  width: 100%;
  height: 160px;
  padding: 0;
  bottom: 0;
  margin: 0;
  background: #412e9e;
}

.FooterGroup {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
  margin-left: 116px;
}

.Footer a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.Footer img {
  position: relative;
  padding: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

@keyframes VinylAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


 @media (max-width: 768px) {

  .HeroGroup .SectionOne .ContainerLeft {
    text-align: center;
  }

  .HeroGroup .SectionOne .ContainerRight {
    display: none;

  }

 
  }

  @media (max-width: 375px) {

  
   
    }